.env
*.env
venv
node_modules/
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
Thumbs.db
*.py[cod]
*$py.class
venv/
env/
.venv/
.env/
*.sublime-project
*.sublime-workspace
.ipynb_checkpoints
coverage.xml
htmlcov/
.tox/
.nox/
.pytest_cache/
*.log
*.iml
*.iws
*.ipr
out/
instance